.Card {
    min-width: 300px;
    cursor: move;
}

.Card__Collapse {
    position: absolute !important;
    top: 0;
    min-height: 100px;
    /* background: #fff; */
    height: 100px;
    left: 0;
    max-height: 100px;
    /* width: 100%; */
    
}

@media screen and (max-width: 420px) {
    .Card {
        margin: auto;

    }
    /* .Card.Card_Animate--Center {
        transform: translateY(50%);
        transition: all 0.4s ease-in-out;
    }
     */
}