.Card {
    min-width: 300px;
    cursor: move;
}

@media screen and (max-width: 403px) {
    .Card {
        margin: auto;

    }
    .Card.Card_Animate--Center {
        transform: translateY(50%);
        transition: all 0.25s ease-in-out;
    }
    
}