.App {
	font-family: "SpaceGrotesk";
	max-width: 1920px;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.App_Frame {
	position: absolute;
	width: 100%;
	min-width: 375px;
	height: 240px;
	left: 0px;
	top: 0px;

	background: #21092f;
	display: flex;
	justify-content: center;
}

.App_Card {
	width: 300px;
}
.App_Card--Back {
	top: 20px;
	position: absolute;
	margin: auto;
	right: 20px;
}

@media screen and (min-width: 1280px) {
	.App_Frame {
		display: flex;
		justify-content: center;
		max-width: 483px;
		width: 20%;
		height: 100%;
		align-items: center;
	}

	.App_Frame canvas {
		margin-left: 100%;
	}
}

